<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Data User</h1>

  <div class="container add-menu">
    <div class="form-group">
      <label for="exampleInputEmail1">Nama</label>
      <input class="form-control" id="inputNama" placeholder="Nama">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input class="form-control" id="inputEmail"  placeholder="Input Email">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Alamat</label>
      <textarea class="form-control" id="inputAlamat" rows="2" placeholder="Input alamat disini"></textarea>
    </div>
    <button id="buttonInsert" type="submit" class="btn btn-primary" onclick=handleInsertMenu()>Insert</button>
    <button id="buttonEdit" type="button" class="btn btn-warning" disabled> Submit Edit</button>
  </div>


  <div class="container menu-list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nama</th>
          <th scope="col">Email</th>
          <th scope="col">Alamat</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for( let index = 0; index < users.length; index++ ) { %>
          <tr id=<%=`row-id-${users[index].id}`%> >
            <th scope="row"> <%= index + 1 %> </th>
            <td><%= users[index].nama %></td>
            <td><%= users[index].email %></td>
            <td><%= users[index].alamat %></td>
            <td>
              <button type="button" class="btn btn-primary" onclick=handleActionEdit("<%=`row-id-${users[index].id}`%>")>Edit</button>
              <button type="button" class="btn btn-danger" onclick=handleDelete(<%= users[index].id %>)>Delete</button>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  
  <script src="../js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>